.techforn{
fort-family:"Russo-one",sans-serief;
fort-size:1.5em;
margin-bottom:10px;
}
.bigbrand{
font-size:1.5em;
}

.centerstage{
margin:auto;
}

.loader{
filter:hue-rotate(0deg);
color:linear-gradient(45deg,#0f8,#08f)
animation:hue 10000ms infinite linear;
}

.postdate{
text-allign:center;
}

.posttitle{
fort-family:"Russo-one",sans-serief;
fort-size:3em;
text-allign:center;
}
.postcontent{
font-family:'Montserrat';
font-size:1.5em;
}

.btn-comment{
position:absolute;
right:0px;
}