<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="http://company.local.com/scripts/instantbook.js"></script>
</head>
<body onload="RingLeadInstantBook.init('dcfb5c3c-9aad-4a8b-b853-db1ff4d28955', 19782729, 1323, 4)">
<!--  ----------------------------------------------------------------------  -->
<!--  NOTE: Please add the following <META> element to your page <HEAD>.      -->
<!--  If necessary, please modify the charset parameter to specify the        -->
<!--  character set of your HTML page.                                        -->
<!--  ----------------------------------------------------------------------  -->

<META HTTP-EQUIV="Content-type" CONTENT="text/html; charset=UTF-8">

<!--  ----------------------------------------------------------------------  -->
<!--  NOTE: Please add the following <FORM> element to your page.             -->
<!--  ----------------------------------------------------------------------  -->

<form action="https://webto.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8" method="POST" id="sf_form">

<input type=hidden name="oid" value="00D5g000002vBf4">

<!--  ----------------------------------------------------------------------  -->
<!--  NOTE: These fields are optional debugging elements. Please uncomment    -->
<!--  these lines if you wish to test in debug mode.                          -->
<!--  <input type="hidden" name="debug" value=1>                              -->
<!--  <input type="hidden" name="debugEmail"                                  -->
<!--  value="sftrigger@ringlead.com">                                         -->
<!--  ----------------------------------------------------------------------  -->

<label for="first_name">First Name</label><input  id="first_name" maxlength="40" name="first_name" size="20" type="text" /><br>

<label for="last_name">Last Name</label><input  id="last_name" maxlength="80" name="last_name" size="20" type="text" /><br>

<label for="email">Email</label><input  id="email" maxlength="80" name="email" size="20" type="text" /><br>

<label for="company">Company</label><input  id="company" maxlength="40" name="company" size="20" type="text" /><br>

<label for="city">City</label><input  id="city" maxlength="40" name="city" size="20" type="hidden" /><br>

<label for="state">State/Province</label><input  id="state" maxlength="20" name="state" size="20" type="hidden" /><br>
    <input  id="website" maxlength="20" name="website" size="20" type="hidden" />

<label for="description">Description</label><textarea name="description"></textarea><br>

Random Picklist:<select  id="00N3i00000DA2oY" name="00N3i00000DA2oY" title="Random Picklist"><option value="">--None--</option><option value="US Southeast">US Southeast</option>
<option value="US Midwest">US Midwest</option>
<option value="US Northeast">US Northeast</option>
<option value="US Central">US Central</option>
<option value="US Midmarket East">US Midmarket East</option>
<option value="US Midmarket West">US Midmarket West</option>
<option value="US Midmarket North">US Midmarket North</option>
<option value="US Midmarket South">US Midmarket South</option>
<option value="US Midmarket Northeast">US Midmarket Northeast</option>
<option value="US Midmarket Northwest">US Midmarket Northwest</option>
</select><br>

<input type="submit" name="submit" id="salesforce_form">

</form>


</body>

</html>